<div class="card">
  <table class="table table-hover" style="margin-bottom:0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items; let i = index">
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
